
@if(_car is not null)
{
        <div class="outer-div">
            <div class="image">
                <img src="@_carImgSrc"/>
            </div>
            <div class="selection-page">
                <h3>@_action</h3>
                <div class="selection-options">
                    @foreach (var option in _options)
                    {
                        <div class="@(selectedOption == option ? "option-button-active" : "option-button")" @onclick="() => SetSelectedOption(option)">
                            <h3 id="option-name">@option.OptionName</h3>
                        </div>
                    }
                </div>
            </div>
            <div class="information">
                <div class="car-details">
                    <h3>@_car.CarMakeName</h3>
                    <h3>@_car.CarModelName</h3>
                    
                </div>
            </div>
        </div>
}


@code {
    [Parameter, EditorRequired]
    public CarModel _car { get; set; }
    [Parameter, EditorRequired]
    public string _carImgSrc { get; set; }
    [Parameter, EditorRequired]
    public string _action { get; set; }
    [Parameter, EditorRequired]
    public List<ConfiguratorOptionModel> _options { get; set; }

    private ConfiguratorOptionModel selectedOption;



    void SetSelectedOption(ConfiguratorOptionModel option)
    {
        selectedOption = option;
        StateHasChanged();

    }

}

