@page "/cars"
@using GlobalFinance.Client.ServicesInterfaces
@using GlobalFinance.Client.Views.Components
@using GlobalFinance.Shared.Models
@inject ICarService CarService
@inject IEnquiryService EnquiryService
@inject IConfiguratorService ConfiguratorService
@inject IInventoryService InventoryService
@inject IFinanceService FinanceService
<h3>Showing @_carsCount results</h3>

<div class="car-grid">
    @if(CarService.Cars is not null){
        @foreach (var car in CarService.Cars){
        <CarOptionComponent CarId="@car.CarId" CarMakeName="@car.CarMakeName" CarModelName="@car.CarModelName" CarStartingPrice="@car.CarStartingPrice" imgSrc="@GetCarImageSrc(car.CarId)"></CarOptionComponent>
        
    }
            
    }
    
</div>

@code {
    private List<CarModel>? _cars;
    private int _carsCount;

    protected override async Task OnInitializedAsync(){
        await CarService.GetCars();
        _carsCount = CarService.Cars.Count();

        EnquiryService.Enquiry = new EnquiryModel();
        ConfiguratorService.SavedConfiguration = new SavedConfigurationModel();
        InventoryService.InventoryCar = new InventoryModel();
        FinanceService.Finance = new FinanceModel();

    }

    private string GetCarImageSrc(int id){
        return $"Images/Car-images/{id}.jpg";
    }
    
}