@page "/cars"
@using GlobalFinance.Client.Views.Shared.Components
@using GlobalFinance.Shared.Models
@inject HttpClient httpClient
<h3>Showing @_carsCount results</h3>

<div class="car-grid">
    @if(_cars is not null){
        @foreach (var car in _cars){
        <CarOptionComponent CarId="@car.CarId" CarMakeName="@car.CarMakeName" CarModelName="@car.CarModelName" CarStartingPrice="@car.CarStartingPrice" imgSrc="@GetCarImageSrc(car.CarId)"></CarOptionComponent>
    }
    }
    
</div>

@code {
    private List<CarModel>? _cars;
    private int _carsCount;

    protected override async Task OnInitializedAsync(){
        var carsResult = await httpClient.GetFromJsonAsync<List<CarModel>>("Cars/list");
        if(carsResult is not null){
            _cars = carsResult;
            _carsCount = _cars.Count();
        }

    }

    private string GetCarImageSrc(int id){
        return $"Images/Car-images/{id}.jpg";
    }
}