@page "/customer_registration"
@inject ICustomerService CustomerService
@inject NavigationManager NavigationManager

<h3>Personal Details</h3>

<div class="customer-form">
    <EditForm style="height: inherit; min-height:inherit;" Model="customer" OnValidSubmit="HandleUserRegistration">
        <DataAnnotationsValidator />
        <div class="customer-form-inner">
            <div class="customer-form-section" id="name">
                <div id="first-name">
                    <label class="customer-form-label" for="First Name">First Name</label>
                    <InputText class="customer-form-input" @bind-Value="customer.FirstName"></InputText>
                    <ValidationMessage For="@(() => customer.FirstName)"/>
                </div>
                <div id="last-name">
                    <label class="customer-form-label" for="Last Name">Last Name</label>
                    <InputText class="customer-form-input" @bind-Value="customer.LastName"></InputText>
                    <ValidationMessage For="@(() => customer.LastName)"/>
                </div>
                

            </div>

            <div class="customer-form-section" id="address-first-line">
                <label class="customer-form-label" for="Address First Line">Address Line 1</label>
                <InputText class="customer-form-input" @bind-Value="customer.AddressFirstLine"></InputText>
                <ValidationMessage For="@(() => customer.AddressFirstLine)"/>
            </div>

            <div class="customer-form-section" id="address-second-line">
                <label class="customer-form-label" for="Address Second Line">Address Line 2</label>
                <InputText class="customer-form-input" @bind-Value="customer.AddressSecondLine"></InputText>
            </div>

            <div class="customer-form-section" id-="address-third-line">
                <label class="customer-form-label" for="Address Third Line">Address Line 3</label>
                <InputText class="customer-form-input" @bind-Value="customer.AddressThirdLine"></InputText>
            </div>

            <div class="customer-form-section" id="postcode">
                <label class="customer-form-label" for="Postcode">Postcode</label>
                <InputText class="customer-form-input" @bind-Value="customer.AddressPostcode"></InputText>
                <ValidationMessage For="@(() => customer.AddressPostcode)"/>
            </div>

            <div class="customer-form-section" id="contact-number">
                <label class="customer-form-label" for="Contact Number">Contact Number</label>
                <InputText class="customer-form-input" @bind-Value="customer.ContactNumber"></InputText>
                <ValidationMessage For="@(() => customer.ContactNumber)"/>
            </div>

            <div class="customer-form-section">
                <button type="submit" class="customer-form-button">Next</button>
                
            </div>
        </div>

    </EditForm>
</div>


@code {

    CustomerModel customer = new CustomerModel();

    private async void HandleUserRegistration()
    {
        CustomerService.customer = customer;
        var result = await CustomerService.AddCustomer(customer);
        if(result == -1)
        {
            Console.WriteLine("There has been an error");
        } else
        {
            CustomerService.customer.CustomerId = result;
            NavigationManager.NavigateTo("/register");
        }

    }
}

